@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-100 text-slate-900 antialiased;
    }

    .form-field {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
    }

    .form-field-error {
        @apply shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none
    }
}
@keyframes modal-open {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes backdrop-open {
    from { background-color: rgba(0,0,0,0); }
    to   { background-color: rgba(0,0,0,0.25); }
}

@layer utilities {
    .animate-modal-open {
        animation: modal-open 300ms ease-out forwards;
    }
    .animate-backdrop {
        animation: backdrop-open 200ms ease-out forwards;
    }
}